<div class="cards--containers">
    @if (data$ | async; as data) {
    <div class="general__row">
        <app-card [cardText]="'Quantidade de Roles:'" [cardQuantity]="data['generalInfos'].roles.quantidade" [cardColor]="'orange'"></app-card>
        <app-card [cardText]="'Quantidade de Usuários'" [cardQuantity]="data['generalInfos'].users.quantidade" [cardColor]="'purple'"></app-card>

    </div>
    <div class="general__row">
        <app-card [cardText]="'Quantidade de clientes:'" [cardQuantity]="data['generalInfos'].clients.quantidade" [cardColor]="'orange'"></app-card>
        <app-card [cardText]="'Usuários Ativos:'" [cardQuantity]="data['generalInfos'].users.quantidade" [cardColor]="'purple'"></app-card>
    </div>

    }
</div>